In [3]:
import boto3
import pandas as pd
from configparser import ConfigParser
from io import BytesIO

In [4]:
# Carregar as configurações do arquivo ini
config = ConfigParser()
config.read("../config/config.ini")

['../config/config.ini']

In [5]:
# Configurações para conexão com o MinIO/S3
endpoint = config.get("MinIO", "endpoint")
access_key = config.get("MinIO", "access_key")
secret_key = config.get("MinIO", "secret_key")
bucket_raw = config.get("Bucket", "bucket_raw")
bucket_context = config.get("Bucket", "bucket_context")
prefix_municipios_ibge_json = config.get("Bucket", "prefix_municipios_ibge_json")
prefix_municipios_ibge_csv = config.get("Bucket", "prefix_municipios_ibge_csv")

In [8]:
# Nomes dos arquivos
arquivo_origem = config.get("FILE", "municipios_ibge_json")
arquivo_destino = config.get("FILE", "municipios_ibge_csv")

In [7]:
# Inicializar o cliente boto3
minio_client = boto3.client('s3',
                         endpoint_url=endpoint,
                         aws_access_key_id=access_key,
                         aws_secret_access_key=secret_key)

In [9]:
# Carregar o objeto do MinIO
response = minio_client.get_object(Bucket=bucket_raw, Key=prefix_municipios_ibge_json + arquivo_origem)
file_content = response['Body'].read()

In [10]:
# Transformar os bytes em um DataFrame usando pandas
data = BytesIO(file_content)
df = pd.read_json(data)

In [11]:
df.head()

,id,nome,microrregiao,regiao-imediata
0,1100015,Alta Floresta D'Oeste,"{'id': 11006, 'nome': 'Cacoal', 'mesorregiao':...","{'id': 110005, 'nome': 'Cacoal', 'regiao-inter..."
1,1100023,Ariquemes,"{'id': 11003, 'nome': 'Ariquemes', 'mesorregia...","{'id': 110002, 'nome': 'Ariquemes', 'regiao-in..."
2,1100031,Cabixi,"{'id': 11008, 'nome': 'Colorado do Oeste', 'me...","{'id': 110006, 'nome': 'Vilhena', 'regiao-inte..."
3,1100049,Cacoal,"{'id': 11006, 'nome': 'Cacoal', 'mesorregiao':...","{'id': 110005, 'nome': 'Cacoal', 'regiao-inter..."
4,1100056,Cerejeiras,"{'id': 11008, 'nome': 'Colorado do Oeste', 'me...","{'id': 110006, 'nome': 'Vilhena', 'regiao-inte..."